/* header style start */
header{
    margin-left: 120px;
    margin-top: 85px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 120px;
    background-color: #fff;
}
.main-title{
    
    color: #3A3A3A;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.header-title{
    width: 345px;
    height: 50px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
.main-title .three-line{
    margin-right: 20px;
    display: none;
}
.menubar-lists{
    display: none;
}
/* .menubar-lists{
    position: absolute;
    top: 150px;
    left: 100px;
    list-style: none;
    background-color: beige;
    display: none;
} */
.menubar-lists li{
    padding: 15px;
    padding-left: 0;
}
.menu-bar a, .menubar-lists a{
    padding-right: 35px;
    text-decoration: none;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
   
}    


/* header style end */


/* main product style */
.main-product{
    margin-top: 145px;
    margin-left: 120px;
    display: flex;

}
.prebook-title{
    width: 580px;
    height: 130px;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.prebook-text{
    width: 500px;
    height: 60px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
/* button style */
.button{
    background-color: #E02C6D;
    padding: 5px 15px 5px 15px;
    border-style: none;
    border-radius: 40px;
    margin-top: 40px;
}
.button a{
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.button a i{
    padding-left: 7px;
}
/* button end */
.main-pic{
    width: 440px;
    height: 410px;
    /* background-color: aquamarine; */
    margin-top: 20px;
    margin-left: 180px;
    /* background-image: url('images/Circle design.svg'); */
}
.main-pic .main-camera-pic{
    width: 400px;
    height: 390px;
}
/* main product style end */

/* logo style */
.logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 230px;
    margin-right: 170px;
    margin-top: 140px;
}
.logo .logo-pic{
    padding-right: 60px;
}
    
/* items style */
.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
}
.collection-title{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 30px;
}
.item{
    width: 330px;
    height: 520px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.item .thumbnail{
    margin: 15px;
    padding-top: 15px;

}
.details{
    padding-left: 15px;
}
.details .title{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0;
}
.details .price{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ratings{
    display: flex;

}
.ratings .stars{
    padding-right: 10px;
}
.ratings .star{
    width: 12px;
    height: 10px;
    padding-right: 5px;
    color: #FB8200;
}
.ratings .rate{
    color: #5E6366;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1px;
}
.feature{
    margin-top: 20px;
}
.feature .feature-text{
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 0;
}


/* see more style */
.more{
    text-decoration: none;
    color: #E02C6DDE;
    margin-top: 50px;
    margin-left: 490px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
}
.more i{
    padding-left: 10px;
}
/* items style end */

/* last section */
.more-products{
    display: flex;
    margin-left: 120px;
    margin-top: 170px;
}
.more-products .all-pic{
    width: 400px;
    height: 270px;
    padding-right: 90px;
    margin-top: 50px;
}
.more-products .description .final-title{
    color: #0A0826;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    margin-top: 0;
}
.more-products .description .details-text{
    width: 500px;
    height: 150px;
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 25px;
}
#more-button{
    border-radius: 2px;
}

/* footer style */
footer{
    background-color: #0A0826;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 100px;
}
footer .text h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
}
.copyright, .right{
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
footer .icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
    padding-bottom: 50px;
    padding-top: 20px;
}
footer .icon a{
    text-decoration: none;
    color: white;
}

/* mobile view design */

@media only screen and (max-width: 688px) {
    header{
        width: 100%;
        margin-left: 0;
    }
    .main-title .three-line{
        display: block;
    }
    .menubar-lists{
        position: absolute;
        top: 150px;
        left: 100px;
        list-style: none;
        background-color: beige;
        /* display: none; */
    }
    .three-line-click:hover .menubar-lists{
        display: block;
    }
    .menu-bar{
        display: none;
    }
    #cart{
        display: block;
    }
    main{
        width: 100%;
    }
    .main-product{
        width: 360px;
        display: flex;
        flex-direction: column;
    }
    .prebook{
        order: 2;
        margin-left: 0;
    }
    .prebook-title{
        margin-left: 0;
        width: 404px;
        height: 78px;
        text-align: center;
        font-family: Poppins;
        font-size: 28px;
        position: relative;
        top: 50px;
        left: -100px;
    }
    .prebook-text{
        margin-left: 0;
        width: 321px;
        height: 65px;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        position: relative;
        top: 50px;
        left: -55px;
    }
    .prebook .button{
        position: relative;
        top: 50px;
        left: 30px;
    }
    .main-pic{
        order: 1;
        width: 200px;
        height: 190px;
        position: relative;
        top: -180px;
        left: -290px;
    }
    .logo{
        display: none;
    }
    .collection{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 82px;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .more{
        margin-top: 50px;
        margin-left: 70px;
    }
    .more-products{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
        align-items: center;
    }
    .final-title{
        text-align: center;
        width: 400px;
        height: 72px;
        position: relative;
        top: -50px;
        left: 50px;
    }
    .details-text{
        width: 200px;
        height: 300px;
        line-height: 5px;
        position: relative;
        left: 50px;
    }
    #more-button{
        position: relative;
        left: 50px;

    }
    .all-pic{
        position: relative;
        left: 50px;
    }
    footer{
        width: 100%;
    }
}
@media only screen and (min-width: 689px) and (max-width: 1180px) {
    header{
        width: 100%;
        margin-left: 0;
    }
    .main-title .three-line{
        display: block;
    }
    .menubar-lists{
        position: absolute;
        top: 150px;
        left: 100px;
        list-style: none;
        background-color: beige;
        /* display: none; */
    }
    .three-line-click:hover .menubar-lists{
        display: block;
    }
    .menu-bar{
        display: none;
    }
    #cart{
        display: block;
    }
    main{
        width: 100%;
    }
    .main-product{
        width: 360px;
        display: flex;
        flex-direction: column;
    }
    .prebook{
        order: 2;
        margin-left: 0;
    }
    .prebook-title{
        margin-left: 0;
        width: 504px;
        height: 78px;
        text-align: center;
        font-family: Poppins;
        font-size: 28px;
        position: relative;
        top: 50px;
        left: 50px;
    }
    .prebook-text{
        margin-left: 0;
        width: 421px;
        height: 65px;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        position: relative;
        top: 50px;
        left: 80px;
    }
    .prebook .button{
        position: relative;
        top: 50px;
        left: 220px;
    }
    .main-pic{
        order: 1;
        width: 200px;
        height: 190px;
        position: relative;
        top: -180px;
        left: -80px;
    }
    .logo{
        display: none;
    }
    .collection{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #last-item{
        display: none;
    }
    .more{
        margin-top: 50px;
        margin-left: 70px;
    }
    .more-products{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
        align-items: center;
    }
    .final-title{
        text-align: center;
        width: 600px;
        height: 72px;
        position: relative;
        top: -50px;
        left: 50px;
    }
    .details-text{
        width: 600px;
        height: 300px;
        line-height: 5px;
        position: relative;
        left: 90px;
    }
    #more-button{
        position: relative;
        left: 90px;

    }
    .all-pic{
        position: relative;
        left: 50px;
    }
    footer{
        width: 100%;
    }
}